@import 'reset';
@import './variables/global';
@import './themes/dark';
@import './themes/light';

.app {
    font: var(--font-m);
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.portal {
    font: var(--font-m);
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.content-page {
    display: flex;
    flex-grow: 1;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}