@function get-font-size($size, $diff: 0) {
  $result: 8px;
  @if $size == 'm' {
    $result: $result + 8px;
  } @else if $size == 'l' {
    $result: $result + 16px;
  } @else if $size == 'xl' {
    $result: $result + 24px;
  }

  @return $result + $diff;
}

@mixin font-size($size) {
  $font-size: get-font-size($size);
  $font-line: get-font-size($size, 8px);

  --font-size-#{$size}: #{$font-size};
  --font-line-#{$size}: #{$font-line};
  --font-#{$size}: var(--font-size-#{$size}) / var(--font-line-#{$size}) var(--font-family);
}
