@function get-font-size($size, $diff: 0) {
  $result: 8px;
  @if $size == 'm' {
    $result: $result + 8px;
  } @else if $size == 'l' {
    $result: $result + 16px;
  } @else if $size == 'xl' {
    $result: $result + 24px;
  }

  @return $result + $diff;
}

@mixin font-size($size) {
  $font-size: get-font-size($size);
  $font-line: get-font-size($size, 8px);

  --font-size-#{$size}: #{$font-size};
  --font-line-#{$size}: #{$font-line};
  --font-#{$size}: var(--font-size-#{$size}) / var(--font-line-#{$size}) var(--font-family);
}

@mixin colors() {
  --color-primary-100: #DCF7FA;
  --color-primary-200: #BBEBF5;
  --color-primary-300: #92D0E3;
  --color-primary-400: #6EADC8;
  --color-primary-500: #4281A4;
  --color-primary-600: #30668D;
  --color-primary-700: #214D76;
  --color-primary-800: #15365F;
  --color-primary-900: #0C264E;
  --color-success-100: #CBFCD4;
  --color-success-200: #99FAB4;
  --color-success-300: #64F19A;
  --color-success-400: #3DE38D;
  --color-success-500: #06D17C;
  --color-success-600: #04B37B;
  --color-success-700: #039676;
  --color-success-800: #01796A;
  --color-success-900: #016462;
  --color-info-100: #DFF7FF;
  --color-info-200: #BFECFF;
  --color-info-300: #9FDEFF;
  --color-info-400: #87CFFF;
  --color-info-500: #60B7FF;
  --color-info-600: #468FDB;
  --color-info-700: #306BB7;
  --color-info-800: #1E4B93;
  --color-info-900: #12347A;
  --color-warning-100: #FEF2D8;
  --color-warning-200: #FEE1B1;
  --color-warning-300: #FDCC8B;
  --color-warning-400: #FBB76D;
  --color-warning-500: #F9953E;
  --color-warning-600: #D6722D;
  --color-warning-700: #B3541F;
  --color-warning-800: #903913;
  --color-warning-900: #77270B;
  --color-danger-100: #FFE3D8;
  --color-danger-200: #FFC0B2;
  --color-danger-300: #FF978B;
  --color-danger-400: #FF706F;
  --color-danger-500: #FF3F4F;
  --color-danger-600: #DB2E4C;
  --color-danger-700: #B71F47;
  --color-danger-800: #931441;
  --color-danger-900: #7A0C3D;
}