@import "mixins";
@import "colors";

:root {
    --font-family: consolas, menlo, 'Times New Roman', serif;
    --nav-bar-height: 75px;

    // z - Индексы

    --modal-z-index: 100;
    
    @include font-size('s');
    @include font-size('m');
    @include font-size('l');
    @include font-size('xl');
    
    @include colors;

}