@import "mixins";
@font-face {
    font-family: monospace;
    src: url('app/styles/fonts/MonospaceRegular.ttf'),
    url('app/styles/fonts/MonospaceBold.ttf'),
    url('app/styles/fonts/MonospaceOblique.ttf');
}

:root {
    --font-family: monospace, 'Times New Roman', serif;
    --nav-bar-height: 75px;
    
    @include font-size('s');
    @include font-size('m');
    @include font-size('l');
    @include font-size('xl');
    
    @include colors;
}