.title {
  font-size: var(--font-size-l);
}

.text {
  font-size: var(--font-size-m);
}

.primary {
  color: var(--primary-text-color);
}

.success {
  color: var(--success-color);
}

.danger {
  color: var(--danger-color);
}

.warning {
  color: var(--warning-color);
}

.info {
  color: var(--info-color);
}