.SideBar {
    width: 300px;
    background-color: var(--secondary-color);
    height: calc(100vh - var(--nav-bar-height));
    position: relative;
    transition: width 0.2s;
    padding: 10px 15px;
}

.collapsed {
    width: 80px;
}

.switchers {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 20px;
}
