.SideBar {
    width: 300px;
    background-color: var(--alternative-bg-color);
    box-shadow: 6px 0 5px -5px var(--alternative-bg-color);
    position: relative;
    transition: width 0.2s;
    padding: 10px 15px;
}

.collapsed {
    width: 80px;
}

.switchers {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 20px;
}
