.app.dark {
    --bg-color: black;
    --inverted-bg-color: white;
    --primary-color: white;
    --inverted-primary-color: black;
    --secondary-color: gray;
    --inverted-secondary-color: #e8e8e8;
}
