.light {
    --primary-text-color: var(--color-primary-900);
    --secondary-text-color: var(--color-primary-700);
    --alternative-text-color: var(--color-primary-500);
    --primary-bg-color: var(--color-primary-100);
    --secondary-bg-color: var(--color-primary-200);
    --alternative-bg-color: var(--color-primary-300);
    --primary-border-color: var(--color-primary-800);
    --secondary-border-color: var(--color-primary-700);
    --alternative-border-color: var(--color-primary-600);
    --primary-overlay-color: rgb(12 38 78 / 30%);
    --success-color: var(--color-success-600);
    --danger-color: var(--color-danger-600);
    --warning-color: var(--color-warning-600);
    --info-color: var(--color-info-600);
}
