.app.light {
    --primary-color: var(--color-primary-600);
    --secondary-color: var(--color-primary-400);
    --primary-bg-color: var(--color-primary-100);
    --primary-border-color: var(--color-primary-300);
    --secondary-border-color: var(--color-primary-500);
    --success-color: var(--color-success-600);
    --danger-color: var(--color-danger-600);
    --warning-color: var(--color-warning-600);
    --info-color: var(--color-info-600);
}
