@mixin theme($primary: true) {
  $secondary: 'secondary';
  @if $primary == 'secondary' {
    $primary: 'secondary';
    $secondary: 'primary';
  }
  &.#{$primary} {
    color: var(--#{$primary}-text-color);
    background-color: var(--#{$primary}-bg-color);
    border: 2px solid var(--alternative-bg-color);

    &:hover {
      background-color: var(--#{$secondary}-bg-color);
      color: var(--#{$secondary}-text-color);
    }
  }
}

@mixin size($size) {
  &.size_#{$size} {
    font: var(--font-#{$size});
  }
}

.Button {
  border-radius: 6px;
  height: 56px;
  padding: 0 31px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  @include size('s');
  @include size('m');
  @include size('l');
  @include size('xl');
  @include theme('primary');
  @include theme('secondary');
}
