.navbar {
    width: 100%;
    height: var(--nav-bar-height);
    background-color: var(--secondary-bg-color);
    box-shadow: 0 6px 5px -5px var(--secondary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navlinks {
    display: flex;
    align-items: center;

    > div {
        margin: 0 10px;
    }
}
