.AppLink {
    &.primary {
        a {
            color: var(--secondary-text-color);

            &:hover {
                color: var(--alternative-text-color);
            }
        }
    }
}

.secondary {
    color: var(--secondary-color);
}
